#products {
    background: $general-background-color;
}
.restaurants {
    padding: 60px 20px;
    max-width: 1190px;
    margin: auto;
    > h1 {
        margin-bottom: 20px;
        margin-left: 10px;
    }
    > div {
        gap: 20px;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 1024px) {
            display: grid;
            grid-gap: 25px;
            grid-template-columns: 1fr 1fr;
            row-gap: 53px;
            column-gap: 100px;
            }
    }

    &__cards {
        height: 250px;
        background: white;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        min-width: 330px;
        position: relative;

    > img {
        height: 70%;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;
    }

    &__tag {
        background: $tertiary-color;
        color: $dark-cyan;
        font-size: 14px;
        font-weight: 500;
        height: 30px;
        width: 80px;
        border: solid 1px $dark-cyan;
        position: absolute;
        right: 3%;
        top: 5%;
        >p {
            display: flex;
            justify-content: center;
            margin-top: 5px;
        }
    }

    &__container {
        padding: 14px 12px 10px 14px;
    }
    }

}