.heart__icon {
    font-size: 20px;

    @media screen and (min-width: 1024px) {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
    }

    >i {
        cursor: pointer;
        position: absolute;
    }
}

.heart-full
{
  opacity: 0;
  transition-property: all;
  transition-duration: 2s;
    &:hover {
        opacity: 1;
        color:transparent;
        background-image: linear-gradient($primary-color, $secondary-color);
        background-clip: text;
        -webkit-background-clip: text;
    }
}