.heart__icon {
    font-size: 20px;

    @media screen and (min-width: 1024px) {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 16px;
    }

    >i {
        cursor: pointer;
        position: absolute;
    }
}

.heart-full
{
  opacity: 0;
  transition: opacity 1s ease-in-out;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient($primary-color, $secondary-color);
  -webkit-background-clip: text;
  background-clip: text;

    &:hover {
        opacity: 1;
        background-position: 0% 100%;
        background-image: linear-gradient($primary-color, $secondary-color);
        transition: opacity 1s ease-in-out;
    }
}