* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

button {
  border-style: none;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.72);
  z-index: 9999;
  animation: showBody 2s ease-in 4s forwards;
}

.load {
  width: 30vh;
  height: 22.5vh;
  display: flex;
  justify-content: space-evenly;
  -webkit-animation: hideLoader 0s ease-in 4s forwards;
  animation: hideLoader 0s ease-in 4s forwards;
}
.load__bar {
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  height: 100%;
  width: 3vh;
  animation: bars 1000ms backwards ease-in-out infinite;
  animation-direction: alternate;
}
.load__bar--1 {
  animation-delay: 200ms;
}
.load__bar--2 {
  animation-delay: 400ms;
}
.load__bar--3 {
  animation-delay: 600ms;
}
.load__bar--4 {
  animation-delay: 800ms;
}
.load__bar--5 {
  animation-delay: 1000ms;
}

@keyframes showBody {
  from {
    background: rgba(0, 0, 0, 0.72);
  }
  to {
    background-color: rgba(0, 0, 0, 0);
    width: 0;
    height: 0;
  }
}
@keyframes hideLoader {
  to {
    visibility: hidden;
  }
}
@keyframes bars {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
.purple-btn {
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  padding: 15px 20px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1;
}
.purple-btn:hover::after {
  opacity: 1;
}
.purple-btn::after {
  border-radius: 25px;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.35);
  opacity: 0;
  z-index: -1;
  transition: opacity 250ms;
}
.purple-btn > a {
  color: white;
}

.header {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 5px;
}
.header__logo {
  width: 165px;
  height: 45px;
}

.localisation {
  display: flex;
  justify-content: center;
  gap: 17px;
  width: 100%;
  padding: 15px 0;
  background: #EAEAEA;
}
.localisation__txt {
  font-weight: 500;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 30px;
  gap: 25px;
  background: #F6F6F6;
}
.introduction__txt {
  font-weight: 300;
  font-size: 18px;
}

.functioning {
  padding: 55px 30px;
  max-width: 1190px;
  margin: auto;
}
.functioning > h1 {
  margin-bottom: 26px;
}
.functioning > div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
@media screen and (min-width: 1024px) {
  .functioning > div {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.functioning__steps {
  height: 72px;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  gap: 27px;
  font-weight: 500;
  background: #F6F6F6;
  display: flex;
  align-items: center;
}
.functioning__steps > i {
  margin-left: 33px;
  min-width: 16px;
}
.functioning__steps > .fa-store {
  color: #9356DC;
}
.functioning__steps > p {
  min-width: 180px;
}
.functioning__number {
  background: #9356DC;
  color: white;
  height: 24px;
  border-radius: 100%;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  right: 296px;
}

.products {
  background: #F6F6F6;
}

.restaurants {
  padding: 60px 20px;
  max-width: 1190px;
  margin: auto;
}
.restaurants > h1 {
  margin-bottom: 20px;
  margin-left: 10px;
}
.restaurants > div {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .restaurants > div {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: 1fr 1fr;
    row-gap: 53px;
    column-gap: 100px;
  }
}
.restaurants__cards {
  height: 250px;
  background: white;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  min-width: 330px;
  position: relative;
}
.restaurants__cards > img {
  height: 70%;
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.restaurants__cards__tag {
  background: #99E2D0;
  color: #008766;
  font-size: 14px;
  font-weight: 500;
  height: 30px;
  width: 80px;
  border: solid 1px #008766;
  position: absolute;
  right: 3%;
  top: 5%;
}
.restaurants__cards__tag > p {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.restaurants__cards__container {
  padding: 14px 12px 10px 14px;
}
.restaurants__cards > i {
  position: relative;
  bottom: 40px;
  left: 85%;
}

footer {
  background: #353535;
}

.footer {
  max-width: 1450px;
  padding: 25px;
  color: white;
  display: flex;
  flex-direction: column;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    align-items: end;
    height: 80px;
  }
}
.footer > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media screen and (min-width: 1024px) {
  .footer > div {
    flex-direction: row;
    gap: 50px;
    margin-bottom: 10px;
  }
}
.footer > h4 {
  font-family: "Shrikhand", cursive;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .footer > h4 {
    margin-bottom: 12px;
    margin-left: 100px;
  }
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-weight: 500;
}
.footer__list > li a {
  color: white;
}
.footer__list > li i {
  margin-right: 15px;
}
@media screen and (min-width: 1024px) {
  .footer__list {
    flex-direction: row;
    gap: 15px;
  }
}
.footer__list--part2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer__list--part2 > li a {
  color: white;
}
@media screen and (min-width: 1024px) {
  .footer__list--part2 {
    flex-direction: row;
    gap: 15px;
  }
}

/*# sourceMappingURL=style.css.map */
