.header {
    &__icone {
        position: absolute;
        left: 23px;
        top: 23px;
        font-size: 20px;
        color: $footer-background-color;
    }
}

.restaurant {
    &__img {
        >img {
            height: 275px;
            width: 100%;
            object-fit: cover;
        }
    }

    &__menu {
        background: $general-background-color;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        position: relative;
        padding: 13px;
        max-width: 1055px;
        margin: -40px auto auto auto;
        overflow: hidden;

        >a {
            margin: 40px auto;
        }
    }

    &__title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 25px 0 5px;
        font-size: 18px;
        font-weight: 500;

        @media screen and (min-width: 1024px) {
            justify-content: center;
            gap: 25px;
        }

        >h1 {
            font-family: "Shrikhand", cursive;
            font-weight: 400;
        }
    }

    &__categories {
        animation: fadein 2s;

        @keyframes fadein {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }

        @media screen and (min-width: 1024px) {
            width: 635px;
            margin: auto;
        }
    }

    &__starter {
        animation: apparition 2s ease-in 0.5s forwards;
        opacity: 0;
    }

    &__dish {
        animation: apparition 2s ease-in 1s forwards;
        opacity: 0;
    }

    &__dessert {
        animation: apparition 2s ease-in 1.5s forwards;
        opacity: 0;
    }

    @keyframes apparition {
        0% {
            opacity: 0;
        }

        33% {
            opacity: 0.33;
        }

        66% {
            opacity: 0.66;
        }

        100% {
            opacity: 1;
        }
    }

    &__starter>h2,
    &__dish>h2,
    &__dessert>h2 {
        font-weight: 300;
        text-transform: uppercase;
        font-size: 16px;
        margin-bottom: 25px;
        margin-top: 35px;

        &::after {
            content: "";
            display: block;
            background-color: $tertiary-color;
            width: 40px;
            height: 3px;
            margin-top: 5px;
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;
        background: white;
        border-radius: 15px;
        margin-bottom: 12px;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
        overflow: hidden;

        >p {
            position: relative;
            top: 35px;
            right: 15px;
            color: $footer-background-color;
            transform-origin: right;
            transition-property: revert;
            transition-duration: 400ms;
        }

        &:hover .restaurant__checkbox {
            transform: scaleX(1);
            opacity: 1;
        }

        &:hover .restaurant_item_price {
            transform: translateX(-58px);
        }

        &:hover .restaurant__checkbox>a i {
            animation-name: showCheckboxIcone;
            animation-duration: 1s;
            animation-timing-function: linear;
        }
    }

    &__item {
        padding: 12px 15px;
        overflow: hidden;

        >h3 {
            margin-bottom: 5px;
            font-weight: 500;
            font-size: 18px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        >p {
            font-weight: 300;
            font-size: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    &__checkbox {
        opacity: 0;
        transform: translateX(58px);
        width: 60px;
        height: 70px;
        background-color: $tertiary-color;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transform-origin: right;
        transition-property: revert;
        transition-duration: 400ms;
        position: absolute;
        right: 13px;

        @media screen and (min-width: 1024px) {
            right: 220px;
        }

        >a i {
            color: white;

            @keyframes showCheckboxIcone {
                to {
                    transform: rotate(360deg);
                }
            }
        }
    }
}